.task {
  height: 3rem;
  width: 100%;
  border-top: 1px solid gray;
  margin: 0;
  font-size: 1.5rem;
  color:gray;
}

.completed {
  background-color: rgba(128, 128, 128, 0.2);
}

.task input {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 1rem;
}
.task button {
  background-color: red;
  border: none;
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 1.2rem;
  justify-self: flex-end;
}
