.todo {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 40%;
    color: black;
}

.clearButton {
    color: gray;
    background-color: inherit;
    border: none;
    padding: 1rem 0.3rem;
    border-radius: 5px;
}

.clearButton:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128,0.1);
}